@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* Animations */

.fadein-appear {
  opacity: 0;
}

.fadein-appear.fadein-appear-active {
  opacity: 1;
  transition: all 1200ms ease-out;
}

.fadeup-in-appear {
  opacity: 0;
  transform: translateY(80px);
}

.fadeup-in-appear.fadeup-in-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1500ms ease-out;
}

.fadedown-in-appear {
  opacity: 0;
  transform: translateY(-80px);
}

.fadedown-in-appear.fadedown-in-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1500ms ease-out;
}

.header-title, .content-comp {
  opacity: 0;
  transform: translateY(40px);
  transition: all 2000ms ease-out;
}

.header-title.fade-title-in, .content-comp.fade-title-in, .project-comp.fade-project-in {
  opacity: 1;
  transform: translateY(0px);
}