@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* Animations */

/* Landing comp anim*/
.fadein-appear {
  opacity: 0;
}

.fadein-appear.fadein-appear-active {
  opacity: 1;
  transition: all 1200ms ease-out;
}

.fadeup-in-appear {
  opacity: 0;
  transform: translateY(80px);
}

.fadeup-in-appear.fadeup-in-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1500ms ease-out;
}

.fadedown-in-appear {
  opacity: 0;
  transform: translateY(-80px);
}

.fadedown-in-appear.fadedown-in-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1500ms ease-out;
}

/* About/Project comp anim */
.header-title, .content-comp {
  opacity: 0;
  transform: translateY(40px);
  transition: all 2000ms ease-out;
}

.header-title.fade-title-in, .content-comp.fade-title-in, .project-comp.fade-project-in {
  opacity: 1;
  transform: translateY(0px);
}

/* ARROW */

.arrow #arrow-head {
	transform-origin: right;
	transform: scale(1, 1);
	transition: all 200ms ease;
}
.arrow:hover #arrow-head {
	transform: scale(1, 0.9);
	transition: all 200ms ease;
}
.arrow #arrow-body {
	transform-origin: right;
	transform: scale(0.9, 1);
	transition: all 200ms ease;
}
.arrow:hover #arrow-body {
	transform: scale(1, 1);
	transition: all 200ms ease;
}

.up-button {
  display: flex;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  /* margin: 4vw 0 0 0; */
  height: 50px;
  width: 50px;
  justify-content: center;
  justify-self: center;
  align-items: center;
  transition: all 200ms ease;
  cursor: pointer;
}

.up-arrow {
  transform: rotate(-90deg) scale(1.4);
}
/*
const fade = keyframes`
0% {
fill:#61DAFB;
}
50% {
 fill:#999;
}
100%{
  fill:#61DAFB;
}
`; */

@keyframes fade {
0% {
  transform: scale(0);
  opacity: 1;
  transform-origin: center;
}
100% {
  transform: scale(4.5);
  opacity: 0;
  transform-origin: center;
}
};

.cloud-path {
  animation: fade infinite 5s linear;
}

